<app-layout>
  <ion-content>
    <ion-toolbar>
      <div
        class="flex justify-between w-full items-center pb-2 pt-1 border-b border-gray-300 border-opacity-30 mb-3">
        <div
          class="rounded-full border border-gray-500 flex items-center cursor-pointer p-[5px]">
          <!-- https://feathericons.dev/?search=chevron-left&iconset=feather -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="14"
            height="14"
            class="main-grid-item-icon"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2">
            <polyline points="15 18 9 12 15 6" />
          </svg>
        </div>
        <h1 class="text-lg text-center">Data Privacy Policy</h1>
        <div></div>
      </div>
    </ion-toolbar>

    <div>
      <div>
        <p class="text-gray-700 text-sm leading-relaxed">
          This privacy notice provides information on how hilyfe.club collects
          and processes your personal data when yo visit out website
        </p>
      </div>
      <div class="max-w-full mx-auto">
        <div class="flex justify-start items-start flex-col py-3 gap-1">
          <h1 class="text-lg text-center font-bold">Data Privacy Policy</h1>

          <p class="text-gray-500 text-sm">Last Updated: 2021-04-09</p>
        </div>

        <h2 class="text-sm font-semibold mt-4 text-green-600">
          THE DATA WE COLLECT ABOUT YOU
        </h2>
        <p class="text-gray-700 text-sm leading-relaxed">
          We collect your personal data in order to provide and continually
          improve our products and services.
        </p>

        <ul class="list-decimal list-inside text-sm mt-2 text-gray-700">
          <li>
            <strong>Information you provide to us:</strong> We receive and store
            the information you provide, including identity data, contact
            details, and financial data.
          </li>
          <li>
            <strong>Information on your use of our website:</strong> We
            automatically collect and store data related to your searches,
            views, downloads, and purchases.
          </li>
          <li>
            <strong>Information from third parties:</strong> We may receive
            information from service providers, merchants, and advertising
            networks.
          </li>
        </ul>

        <h2 class="text-sm font-semibold mt-4 text-green-600">
          COOKIES AND HOW WE USE THEM
        </h2>
        <p class="text-gray-700 text-sm leading-relaxed">
          A cookie is a small file that helps us provide a better experience by
          recognizing returning users, identifying preferences, and tracking
          site usage.
        </p>

        <ul class="list-decimal list-inside text-sm mt-2 text-gray-700">
          <li>Recognizing and counting site visitors.</li>
          <li>Identifying your preferences and subscriptions.</li>
          <li>Sending personalized advertisements and recommendations.</li>
        </ul>

        <h2 class="text-sm font-semibold mt-4 text-green-600">
          HOW WE USE YOUR PERSONAL DATA
        </h2>
        <p class="text-gray-700 text-sm leading-relaxed">
          We use your data to improve and enhance your experience.
        </p>

        <ul class="list-decimal list-inside text-sm mt-2 text-gray-700">
          <li>Registering you as a new customer.</li>
          <li>Processing and delivering orders.</li>
          <li>Managing your relationship with us.</li>
          <li>Providing personalized promotions and recommendations.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</app-layout>
