<app-layout>
  <ion-content>
    <ion-toolbar>
      <div
        class="flex justify-between w-full items-center pb-2 pt-1 border-b border-gray-300 border-opacity-30 mb-3">
        <div
          class="rounded-full border border-gray-500 flex items-center cursor-pointer p-[5px]">
          <!-- https://feathericons.dev/?search=chevron-left&iconset=feather -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="14"
            height="14"
            class="main-grid-item-icon"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2">
            <polyline points="15 18 9 12 15 6" />
          </svg>
        </div>
        <h1 class="text-lg text-center">Terms Of Service</h1>
        <div></div>
      </div>
    </ion-toolbar>

    <a href="/auth/data-privacy" class="block w-full">
      <div
        class="border-none text-gray-800 cursor-pointer text-md flex justify-between items-center hover:rounded-lg px-2 hover:bg-gray-300 hover:bg-opacity-30 py-3">
        <ion-text> Data Privacy Policy </ion-text>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2">
          <polyline points="9 18 15 12 9 6" />
        </svg>
      </div>
    </a>
    <a href="/auth/refund-policy" class="block w-full">
      <div
        class="border-none text-gray-800 cursor-pointer text-md flex justify-between items-center hover:bg-gray-300 px-2 hover:bg-opacity-30 py-3">
        <ion-text> Return and Refund Policy </ion-text>
        <!-- https://feathericons.dev/?search=chevron-right&iconset=feather -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2">
          <polyline points="9 18 15 12 9 6" />
        </svg>
      </div>
    </a>
  </ion-content>
</app-layout>
