<ion-content>
  <app-layout>
    <div class="h-full w-full">
      <app-select-location></app-select-location>
      <!-- place the swipere here -->
      <div
        class="flex flex-row items-center w-full justify-between bg-hl_blue_main gap-4 pb-[20px] p-3 rounded-lg min-h-[130px] my-[20px]">
        <div>
          <ion-card-title class="text-whte">
            <h1 class="text-start text-white font-bold">Flash Sales</h1>
          </ion-card-title>
          <ion-card-title>
            <h1 class="text-white font-extralight py-3">
              Get 10% off every order above $200
            </h1>
          </ion-card-title>
        </div>

        <ion-img
          src="/assets/flash-sale.png"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      </div>
      <!-- <app-home-promo-modal></app-home-promo-modal> -->
      <app-search-input></app-search-input>
      <app-product-card></app-product-card>

      >
    </div>
  </app-layout>
</ion-content>
