<div class="grid grid-cols-2 gap-2">
  <ion-card
    class="lg:p-3 px-3 flex flex-col justify-between py-3 min-w-[163px] min-h-[165px] max-w-[350px] items-center">
    <div class="flex items-center justify-center pt-3">
      <img src="/assets/dosi-cake.png" alt="" />
    </div>
    <div class="flex items-center justify-between px-2 pb-4">
      <div>
        <ion-card-title class="whitespace-nowrap">Dosi Cake</ion-card-title>
        <ion-card-subtitle>$45.00</ion-card-subtitle>
      </div>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="#169445"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2">
        <rect height="18" rx="2" ry="2" width="18" x="3" y="3" />
        <line x1="12" x2="12" y1="8" y2="16" />
        <line x1="8" x2="16" y1="12" y2="12" />
      </svg>
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
  <rect height="18" rx="2" ry="2" width="18" x="3" y="3" />
  <line x1="8" x2="16" y1="12" y2="12" />
</svg> -->
    </div>
  </ion-card>
  <ion-card
    class="p-3 flex flex-col justify-between py-3 min-w-[163px] min-h-[165px] max-w-[350px] items-center">
    <div class="flex items-center justify-center pt-3">
      <img src="/assets/dosi-cake.png" alt="" />
    </div>
    <div class="flex items-center justify-between px-2 pb-4">
      <div>
        <ion-card-title class="whitespace-nowrap">Dosi Cake</ion-card-title>
        <ion-card-subtitle>$45.00</ion-card-subtitle>
      </div>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="#169445"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2">
        <rect height="18" rx="2" ry="2" width="18" x="3" y="3" />
        <line x1="12" x2="12" y1="8" y2="16" />
        <line x1="8" x2="16" y1="12" y2="12" />
      </svg>
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
  <rect height="18" rx="2" ry="2" width="18" x="3" y="3" />
  <line x1="8" x2="16" y1="12" y2="12" />
</svg> -->
    </div>
  </ion-card>
</div>
