<div class="relative w-full border border-gray-300 px-3 rounded-lg">
  <ion-input
    [type]="showPassword ? 'text' : 'password'"
    placeholder="Password"
    class="custom w-full"
    aria-label="Password">
  </ion-input>

  <!-- Eye Icon for Toggling Password Visibility -->
  <button
    type="button"
    (click)="togglePasswordVisibility()"
    class="absolute inset-y-0 right-3 flex items-center text-gray-500 bg-white">
    <ion-icon
      [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
      class="text-x"
      color="">
    </ion-icon>
  </button>
</div>
