<app-layout>
  <ion-content>
    <ion-toolbar>
      <div
        class="flex justify-between w-full items-center pb-2 pt-1 border-b border-gray-300 border-opacity-30 mb-3">
        <div
          class="rounded-full border border-gray-500 flex items-center cursor-pointer p-[5px]">
          <!-- https://feathericons.dev/?search=chevron-left&iconset=feather -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="14"
            height="14"
            class="main-grid-item-icon"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2">
            <polyline points="15 18 9 12 15 6" />
          </svg>
        </div>
        <h1 class="text-lg text-center">Return And Refund Policy</h1>
        <div></div>
      </div>
    </ion-toolbar>

    <div>
      <div class="flex justify-start items-start flex-col py-3 gap-1">
        <h1 class="text-lg text-center font-bold">Return And Refund Policy</h1>

        <p class="text-gray-500 text-sm">Last Updated: 2021-04-09</p>
      </div>

      <!-- Returns Section -->
      <h2 class="text-green-600 font-bold text-lg mt-4">RETURNS</h2>
      <p class="text-gray-700 text-sm">
        You have 5 days to return an item from the date you received it.
      </p>
      <ul class="list-decimal list-inside text-gray-700 text-sm mt-2 space-y-1">
        <li>
          To be eligible for a return, your item must be unused and in the same
          condition that you received it.
        </li>
        <li>Your item must be in the original packaging.</li>
        <li>Your item needs to have the receipt or proof of purchase.</li>
      </ul>

      <!-- Refunds Section -->
      <h2 class="text-green-600 font-bold text-lg mt-6">REFUNDS</h2>
      <p class="text-gray-700 text-sm">
        Once we receive your item, we will inspect it and notify you that we
        have received your return.
      </p>
      <ul class="list-decimal list-inside text-gray-700 text-sm mt-2 space-y-1">
        <li>
          If your return is approved, we will initiate a refund to your credit
          card (or original method of payment).
        </li>
        <li>
          You will receive the credit within a certain number of days, depending
          on your card issuer’s policies.
        </li>
        <li>Drop off the items or schedule a pickup.</li>
      </ul>

      <!-- Contact Support -->
      <p class="text-gray-500 text-xs mt-6">
        If you have any questions on how to return your item to us, contact us
        at support<span> &#64;</span>hylife.club
      </p>

      <!-- Support Button -->
      <div class="flex justify-center mt-6">
        <ion-button
          expand="full"
          shape="round"
          color="light"
          class="w-full max-w-md">
          <span class="text-gray-500 capitalize">Contact Support</span>
        </ion-button>
      </div>
    </div>
  </ion-content>
</app-layout>
