.reviews {
  color: blue;
}

.stock {
  color: green;
}
.bottom-sheet-modal {
  --border-radius: 24px; /* Adjust for a rounded top */
}
.close-btn {
 
  color: black;
  font-size: 0.5rem;
  padding: 0.5rem;
  z-index: 10;
}
ion-button {
  --background: #169445;
  --border-width: 0.5px;
  --border-color: #169445;


 
}