<ion-content>
  <app-layout>
    <div
      class="flex flex-col h-screen justify-center bg-[#169445] items-center w-full gap-3">
      <div class="mb-10">
        <img
          src="/assets/hilyfe-icon1.png"
          alt=""
          class="w-[110px] h-[140px]" />
      </div>

      <ion-button shape="round" color="light" class="w-full max-w-[330px]"
        ><h1 class="text-hl_green_main p-1">Sign Up</h1></ion-button
      >

      <ion-button shape="round" class="w-full max-w-[330px]"
        ><h1 class="p-1">Login</h1></ion-button
      >
    </div>
  </app-layout>
</ion-content>
