<ion-content>
  <div
    class="bg-white mx-auto flex gap-4 p-2 h-screen justify-start items-center flex-col max-w-tablet w-full">
    <div class="flex flex-col w-full px-5">
      <!-- Logo and Menu Icon -->
      <div class="flex items-center justify-between w-full py-2">
        <img
          src="../../../../assets/hilyfe-icon2.png"
          alt="Logo"
          class="h-12" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="text-gray-700"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2">
          <line x1="3" x2="21" y1="12" y2="12" />
          <line x1="3" x2="21" y1="6" y2="6" />
          <line x1="3" x2="21" y1="18" y2="18" />
        </svg>
      </div>

      <div class="flex flex-col items-start">
        <h2 class="text-xl font-bold text-gray-900 mt-2">
          Create new Password
        </h2>
        <p class="text-gray-500 text-sm">
          Secure your account with a strong password Read the checklist below
          for guidance
        </p>
      </div>
    </div>
    <!-- OTP Input Boxes -->
    <div class="flex items-center w-full flex-col gap-4 mb-4">
      <div class="relative w-full">
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="New Password"
          class="custom"
          shape="round"
          fill="outline"
          aria-label="Password"></ion-input>

        <!-- Eye Icon for Toggling Password Visibility -->
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="absolute inset-y-0 right-3 flex items-center text-gray-500">
          <ion-icon
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            class="text-xl"></ion-icon>
        </button>
      </div>
      <div class="relative w-full">
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Confirm New Password"
          class="custom"
          shape="round"
          fill="outline"
          aria-label="Password"></ion-input>

        <!-- Eye Icon for Toggling Password Visibility -->
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="absolute inset-y-0 right-3 flex items-center text-gray-500">
          <ion-icon
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            class="text-xl"></ion-icon>
        </button>
      </div>
      <div class="flex justify-between gap-4 w-full py-6">
        <div class="h-[5px] w-full bg-gray-200"></div>
        <div class="h-[5px] w-full bg-gray-200"></div>
        <div class="h-[5px] w-full bg-gray-200"></div>
      </div>
      <div class="flex flex-row items-center gap-3">
        <ion-checkbox></ion-checkbox>
        <p class="text-gray-500">
          Between 8 and 3 characters ,Upper and lowercase letters Must contain a
          number or a symbol
        </p>
      </div>
    </div>
  </div>
</ion-content>
