<ion-content>
  <ion-card class="p-2 rounded-lg shadow-lg">
    <ion-card-header
      class="flex flex-row items-center w-full justify-between px-2">
      <ion-card-title>Product Rating</ion-card-title>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="#B8BABF"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2">
        <circle cx="12" cy="12" r="10" />
        <line x1="15" x2="9" y1="9" y2="15" />
        <line x1="9" x2="15" y1="9" y2="15" />
      </svg>
    </ion-card-header>
    <ion-card-content
      >Please rate the products from your last order. Your feedback is greatly
      appreciated</ion-card-content
    >

    <ion-button
      size="large"
      mode="ios"
      size="medium"
      shape="round"
      shape="round">
      <h1>Rate Products</h1>
    </ion-button>
  </ion-card>
  <app-search-input></app-search-input>
  <app-product-card></app-product-card>
</ion-content>
